<div>
    <h1 style="text-align: center;">Products</h1>
        <form id="new-product-form">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required><br>

         <label for="code">Code:</label>
        <input type="text" id="code" name="code" required><br>

         <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock" required><br>

         <label for="thumbnail">thumbnail:</label>
        <input type="text" id="thumbnail" name="thumbnail" required><br>

        <label for="description">Descripción:</label><br>
        <textarea id="description" name="description" required></textarea><br>

        <button type="submit">Agregar Producto</button>
    </form>
<ul id="products-list">
        {{#each productos}}
            <li style="list-style: none; margin-bottom: 10px; border: 1px solid; padding: 1rem">
                <h2>{{title}}</h2>
                <p>${{price}}</p>
                <p>{{description}}</p>
                <p>Code:{{code}}</p>
                <p>Stock:{{stock}}</p>


            </li>
        {{/each}}
    </ul>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeproducts.js"></script>
